.App {
    font-family: 'Ultra', serif;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
}

.nav-link:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: blue
}

.Main {
    padding-top: 81px;
}